<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Django TodoList</title>
    <link rel = "stylesheet" type = "text/css" href = "bootstrap.css">
</head>
<body>
    <div class = "container" style="margin-bottom: 50px">
        <div class = "row">
          <div class = "span2">
            <a target="_blank" href="https://www.Do-it.com/"> Do-it.com </a>
          </div>
          <div class = "span2 offset8">
            <p id="start_a_new_page" style="color: red;"> Start a new project </p>
          </div>
        </div>
    </div>
    <div class = "container" style="margin-bottom: 100px">
            <h1 style="text-align: center;font-size: 30px">
            {% for p in project_names %}
                    <span >{{ p.project_name }}</span> Project
            </h1>
                    <div class="row">
                        {% for c in p.collaborator_set.all %}
                            <div class = "span3" style = "width :270px; margin-left: 20px;border: thin;border-style: dotted;">
                                <p style="font-size: 20px;text-align: center;color: rgb(255,0,0);"> {{ c.collaborator_name }}</p>
                                <ol>
                                {% for t in c.task_set.all %}
                                        <li>
                                            <p>
                                                <input type="checkbox" checked="checked">
                                                <span>{{ t.task_name }}</span>
                                            </p>
                                        </li>
                                {% endfor %}
                                   </ol>
                                    <p style="font-size: 14px">
                                        <button onclick="location.href='/todolist/task'">+Add</button>
                                        Add Task 
                                    </p>
                                
                            </div>
                        {% endfor %}
                    <div class = "span2 collaborator" style = "width :210px; margin-left: 20px;">
                    <h2 style="color: red; font-size: 14px">
                    Add New Collaborator
                    <button onclick="location.href='/todolist/collaborator'">+Add</button> 
                    </h2>      
            {% endfor %}        
            </div>
        </div>
    </div>   
</body>
</html>
